/* Integrations.css */

.integrations-section {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  background-color: #567C8D;
}

.container-wrap {
  max-width: 96%;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 120px;
}

.integrations-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.integrations-text-box {
  margin-bottom: 20px;
  position: relative;
}

.heading {
  font-size: 3.8rem;
  font-weight: 700;
  color: #F5EFEB;
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
  z-index: 10;
}

.oval {
  width: 260px;
  position: absolute;
  z-index: 9;
  top: 35%;
  left: 0%;
}

.paragraph1 {
  font-size: 1.2rem;
  color: #F5EFEB;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 40px;
  z-index: 100;
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 90%;
}

.marquee {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  animation: marquee 20s linear infinite;
}
/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(-111%);
  }
}
.marquee-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-shrink: 0;
  width: 280px;
  background: #F5EFEB;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.integration-logo {
  width: 25px;
  height: 25px;
}

h3 {
  font-size: 1.5rem;
  color: #2F4156;
}

.card-description {
  font-size: 1rem;
  color: #2F4156;
  text-wrap: wrap;
  text-align: left;
  /* margin-bottom: 10px; */
}

.integration-link {
  font-size: 1rem;
  text-decoration: none;
  color: #567C8D;
  font-weight: bold;
}
.bottom_text
{
  position: relative;
  width: 100%;
}
.bottom_text h1
{
  color: #F5EFEB;
  font-size: 2.6rem;
  margin-top: 20px;
  text-transform: capitalize;
  position: absolute;
  right: 10%;
  text-wrap: nowrap;
}
.bottom_text .arrow
{
  height: 300px;
  position: absolute;
  top: 20px;
  right: 4%;
}


/* Responsive Design */
/* @media (max-width: 900px) {
  .container-wrap {
    min-height: 120vh;
  }
} */

@media (max-width: 1100px) {
  .heading {
    font-size: 2.5rem;
  }

  .paragraph1 {
    font-size: 1.25rem;
    width: 100%;
  }

  .oval {
    width: 170px;
    top: 50%;
    left: 0%;
  }

  .marquee-wrapper {
    width: 100%;
    margin: auto;
  }

  .marquee-card {
    width: 310px;
    height: 230px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .card-header {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }

  .integration-logo {
    width: 28px;
    height: 28px;
    margin-left: -40px;
  }

  .integration-link {
    font-size: 1.04rem;
  }

  .bottom_text
{
  position: relative;
  width: 100%;
}
.bottom_text h1
{
  color: #FCFB00;
  font-size: 2.2rem;
  margin-top: 20px;
  text-transform: capitalize;
  position: absolute;
  right: 2%;
  text-wrap: nowrap;
}
.bottom_text .arrow
{
  height: 300px;
  position: absolute;
  top: 20px;
  right: 4%;
}
}